/* You can add global styles to this file, and also import other style files */

// CSS
//.btn-primary {
//  background-color: #2563eb;
//  color: #ffffff;
//  font-weight: 600;
//  padding: 0.5rem 1rem;
//  border-radius: 0.5rem;
//  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
//  transition: background-color 0.3s ease;
//}
//
//.btn-primary:hover {
//  background-color: #1d4ed8;
//}

// SCSS
$primary-color: #2563eb;
$primary-hover: #1d4ed8;

.btn-primary {
  background-color: $primary-color;
  color: #fff;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: $primary-hover;
  }
}
